<app-navbar></app-navbar>
<div class="container clearfix">
  <div class="people-list" (blur)="setToDefault()" id="people-list">
    <div class="search">
      <input type="text" placeholder="search" (input)="searchUser($event)" />
      <i class="fa fa-search"></i>
    </div>
    <ul class="list" *ngFor="let data of dataBySearch">
      <li class="clearfix">
        <img
          [src]="'http://localhost:3030/' + data.profilePicture"
          (error)="findImage('', 'er')"
          alt="avatar"
        />
        <div class="about" (click)="getChat(data._id)">
          <div class="name">{{ data.name }}</div>

          <div class="status">
            {{ data.email }}

            <i class="fa fa-circle online" *ngIf="data?.isActive"> online</i>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="chat">
    <div class="chat-header clearfix">
      <img
        src="https://images.pexels.com/photos/3792581/pexels-photo-3792581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="avatar"
      />

      <div class="chat-about">
        <div class="chat-with">{{ selectedId }}</div>
        <div class="chat-num-messages">already 1 902 messages</div>
      </div>
      <i class="fa fa-star"></i>
    </div>
    <!-- end chat-header -->

    <!--  For loading each chat -->
    <app-chat [chatData]="chatData" [selectedId]="selectedId"></app-chat>
  </div>
  <!-- end chat -->
</div>
