<br />
<br />
<br />
<div class="wrapper fadeInDown p-2">
  <div id="formContent">
    <!-- Login Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        type="text"
        id="login"
        formControlName="email"
        class="fadeIn second mt-5"
        name="login"
        placeholder="email"
      />
      <input
        type="password"
        id="password"
        formControlName="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <label class="label">Create an account?</label>
      <a class="underlineHover" [routerLink]="['/register']" routerLinkActive="router-link-active" > Register</a><br>
      <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
    </div>
    
  </div>
</div>
