<div class="chat-header clearfix">
  <div #chatHistory class="chat-history" (scroll)="loadMoreMsgs()">
    <!-- <div class="d-flex justify-content-center mb-2"> -->
    <!-- <button (click)="loadMoreMsgs()" class="load-messages-btn">Load Previous Messages</button> -->
    <!-- {{ chatMessages | json }} -->
    <!-- </div> -->
    <ul *ngFor="let chat of chatMessages?.data">
      <li *ngIf="chat?.senderEmail !== selectedId" class="clearfix">
        <div class="message-data align-right">
          <span class="message-data-time">{{
            chat?.dateTime | date : "short"
          }}</span>
          &nbsp; &nbsp;
          <!-- {{chat | json}} -->
          <span class="message-data-name">{{ chat?.senderEmail }}</span>
          <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
          <span>{{ chat?.message }}</span
          ><br /><br />
          <div *ngIf="chat?.type === 2" class="">
            <img
              class="chat-image"
              [src]="'http://192.180.2.128:5253/' + chat.fileUrl"
              alt="temp"
            />
          </div>
          <div *ngIf="chat?.type === 3">
            <div class="file-box">
              <a
                [href]="'http://192.180.2.128:5253/' + chat.fileUrl"
                target="_blank"
              >
                <div class="file-icon">&#128196;</div>
                <!-- This is a simple document icon -->
                <div class="file-name">{{ chat.fileName }} file</div>
              </a>
            </div>
          </div>
        </div>
      </li>

      <li *ngIf="chat?.senderEmail === selectedId">
        <div class="message-data">
          <span class="message-data-name"
            ><i class="fa fa-circle online"></i> {{ chat?.senderEmail }}</span
          >
          <span class="message-data-time">{{
            chat?.dateTime | date : "short"
          }}</span>
        </div>
        <div class="message my-message">
          {{ chat?.message }}
          <br /><br />
          <div *ngIf="chat?.type === 2" class="">
            <img
              class="chat-image"
              [src]="'http://192.180.2.128:5253/' + chat.fileUrl"
              alt="temp"
            />
          </div>
          <div *ngIf="chat?.type === 3">
            <div class="file-box">
              <a
                [href]="'http://192.180.2.128:5253/' + chat.fileUrl"
                target="_blank"
              >
                <div class="file-icon">&#128196;</div>
                <!-- This is a simple document icon -->
                <div class="file-name">{{ chat.fileName }} file</div>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <form [formGroup]="form" (ngSubmit)="sendMsg()" class="chat-message clearfix">
    <textarea
      formControlName="inputChatMsg"
      name="message-to-send"
      id="message-to-send"
      placeholder="Type your message"
      rows="3"
      (keydown)="onEnter($event)"
    ></textarea>
    <label for="file-upload" class="custom-file-upload">📎</label>
    <input (input)="fileUpload($event)" id="file-upload" type="file" />
    <button type="submit" class="btn btn-success send-btn">➤</button>
  </form>
</div>
